body {
    background-color: red;
    background-image: url('../img/UAM3.jfif');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; /* Centra la imagen */

    background-attachment: fixed;/*Mantiene el fondo estatico*/
}

legend {
    text-align: center;
}

/* Estilo para el contenedor */
#container {
    background-color: black;
    color: white;
    width: 100%; 
    max-width: 400px; 
    min-height: 500px; 
    margin-left: auto;
    margin-right: 0;
    padding: 20px; 
    box-sizing: border-box;
    overflow-y: auto;
    position: relative; /* Asegura que el SVG esté dentro del contenedor */
}

/* Estilo para el formulario */
fieldset {
    border: 2px solid #fff;
    padding: 20px;
}

/* Estilo para los inputs */
input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #ff7300;
    color: white;
    cursor: pointer;
    width: 40%;
    justify-content: center; /* Centra horizontalmente */
       padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #00ff22;
}

#cancelarBtn {
    background-color: #ff7300;
    color: white;
    cursor: pointer;
}

#cancelarBtn:hover {
    background-color: #ff0000;
}
/* Estilo para las etiquetas */
label {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Estilo para el SVG PENDIENTE HASTA TENER EL M,ODELO FINAL*/

/* Alternativa si deseas establecer un tamaño fijo */
#svg {
    width: 10px;  /* Establece un ancho específico en píxeles */
    height: 150px; /* Establece una altura específica en píxeles */
}

#svg {
    width: 10%;  /* El SVG ocupará el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente según el aspecto */
}

/* Estilo para el botón de "Cancelar" (rojo) */
.btn-cancelar {
    background-color: #ff0000 !important;  /* Rojo */
    color: white !important;               /* Texto blanco */
    border: none !important;               /* Sin borde */
}

/* Estilo para el botón de "Continuar" (verde) */
.btn-continuar {
    background-color: #28a745 !important;  /* Verde */
    color: white !important;               /* Texto blanco */
    border: none !important;               /* Sin borde */
}
